.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
